
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #181c27;
  overflow: hidden;
}


.mainChart {
  height: 95%;
}

.dropdown-menu {
  background-color: #181c27; /* Светло-серый */
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
  width: 10px;                /* Ширина скроллбара */
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #181c27;       /* Цвет ползунка */
  border-radius: 4px;        /* Скругление */
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Цвет фона скроллбара */
}

.dropdown-item {
  color: #fff;
}

