:root {
  --chs_bg_base: #181c27;
  --chs_text_color_base: #DDD;
  --chs_btn_bg_deactive: #23272F;
  --chs_btn_bg_hover: var(--bs-primary);
  --chs_bg_non_core: #23272F;
}

/* настройки основного окна*/
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--chs_bg_base);
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;

  cursor: crosshair;
}

.legend {
  position: absolute;
  left: 12px;
  top: 45px;
  z-index: 2;
  color: var(--chs_text_color_base);
  font-family: sans-serif;
}

#toolbar {
  position: relative;
  left: 5px;
  top: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#toolbar button {
  margin-right: 4px;
  padding: 5px 8px;
  border: none;
  background: var(--chs_btn_bg_deactive);
  color: var(--chs_text_color_base);
  border-radius: 4px;
  cursor: pointer;
}

#toolbar button:hover {
  background: var(--chs_btn_bg_hover);
}

.mainChart {
  height: 95%;
}

/* настройка выпоадающего списка */

.dropdown-menu {
  background-color: var(--chs_bg_base); 
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
  width: 10px;                
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--chs_bg_base);       
  border-radius: 4px;       
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;      
}

.dropdown-item {
  color: var(--chs_text_color_base);
}

/* модальное окно */

.modal-content {
  background: var(--chs_bg_base);
  color: var(--chs_text_color_base);
  --bs-modal-width: 800px; 
  max-height:70%;
}

.input-group-text, .form-control {
  background: var(--chs_bg_non_core);
  color: var(--chs_text_color_base);
}

.form-control::placeholder {
  color: #949292;
}

/* сбрасываем дефолтное поведения при активации поля*/
.form-control:focus {
  background-color: inherit;
}

.btn-secondary {
  background: var(--chs_btn_bg_deactive);
  color: var(--chs_text_color_base);
  border: none;
}

.btn-secondary:hover {
  background: var(--chs_text_color_base);
  color: var(--chs_bg_base);
}

.btn-selected {
  background: var(--chs_btn_bg_hover);
  color: var(--chs_text_color_base);
  border: none;
}


.list-group-item {
  border-bottom: 1px solid #333333;
}
.list-group-item:last-child {
  border-bottom: none;
}

.search-list {
  height: 500px;
}

/*список инструментов*/
.instrument-item {  
  border-bottom: 0.5px solid var(--chs_bg_non_core); /* светло-серая линия */
  transition: 0.2s;
}

/* для приминения к ссылкам паддингов */
.instrument-item a {
  display: block; 
  padding: 8px 12px; 
}

/* убрать линию у последнего элемента */
.instrument-item:last-child {
  border-bottom: none; 
}

/* подсветка при наведении */
.instrument-item:hover {
  background: var(--chs_btn_bg_hover); 
}

.instrument-item a {
  text-decoration: none; /* убрать стандартное подчёркивание */
  color: var(--chs_text_color_base);
}

/* ползунок модального окна*/
.search-list::-webkit-scrollbar {
  width: 10px;                /* ширина скроллбара */
  background: var(--chs_bg_non_core);       /* фон полосы прокрутки */
  border-radius: 4px;
}

.search-list::-webkit-scrollbar-thumb {
  background: #949494;       /* цвет ползунка */
  border-radius: 4px;
}

/* цвет ползунка при наведении */
.search-list::-webkit-scrollbar-thumb:hover {
  background: var(--chs_btn_bg_hover);       
}

/*modal footer*/
.modal-footer {
  background: var(--chs_bg_non_core);
}

